.newsletter {
  width: 100%;
  height: 300px;
  background: var(--yellow-100);
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  
  img {
    width: 16%;
    border-radius: 200px 200px;
  }

  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    input {
      margin-top: 10px;
      padding: 8px;
      border: 1px solid var(--green-500);
      border-radius: 20px;
      min-width: 350px;
    }

    button {
      margin-top: 30px;
      padding: 8px 40px;
      background-color: var(--green-500);
      border: transparent;
      border-radius: 50px;
      color: var(--white);
      font-size: 20px;
      font-weight: 800;
  
      transition: 0.2s;
      &:hover {
        background-color: var(--pink-500);
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
  }
}


@media only screen and (max-width: 900px) {
  .newsletter {  
    img {
      width: 20%;
    }
    .information {
      width: 50%;
    }
  }
}