.blog {
  padding: 120px 0;
  h1 {
    padding: 20px 0;
    font-size: 50px;
    color: var(--pink-500);
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    li {
      list-style: none
    }
  }
}